<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="../Views/js/jquery-v1.10.2.min.js"></script>
    <title>登录</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>登录</h1>
    学号:<input type="text" id="TxtAccount" />
    密码:<input type="password" id="TxtPassword" />
    <button id="BtnOk">登录</button>

    <h1>好友功能</h1>
    <button id="BtnAdd">添加好友</button>
    <button id="BtnDel">删除好友</button>
    <button id="BtnGetFriend">获取好友</button>

    <h1>权限功能</h1>
    <button id="BtnGod">获取最高权限</button>
    <button id="BtnMyAc">获取我的权限</button>
    <button id="BtnGive">授予权限</button>
    <button id="BtnRe">剥夺权限</button>
    <button id="BtnAddClass">添加板块</button>
    <button id="BtnRemove">删除板块</button>


    <h1>帖子功能</h1>
    <button id="BtnAddPost">发帖</button>
    <button id="BtnDelPost">删帖</button>
    <button id="BtnGetPosts">获取帖子</button>
    <button id="BtnGetPost">获取一个帖子</button>
    <button id="BtnAddCom">添加回复</button>




    <script type="text/javascript">
        $("#BtnOk").click(function () {
            var ac = $("#TxtAccount").val();
            var pa = $("#TxtPassword").val();
                $.ajax({
                    url: "/api/Log/Login",
                    type: "POST",
                    dataType: "json",
                    data: { 
                        "account" : ac,
                        "password" : pa
                    },
                    success: function (data) {
                        console.log(data);
                    }
                }).fail(
                function (xhr, textStatus, err) {
                    alert('Error: ' + err);
                });
        })
    </script>
    <script type="text/javascript">
        
        $("#BtnAdd").click(function () {
            var postdata = { "target": "14020031092" };
            $.post("/api/Friends/YouMyFriend",
                postdata,
                function (data) {
                    alert(data.result);
                });
        })
    </script>
    <script type="text/javascript">
        
        $("#BtnDel").click(function () {
            var postdata = { "target": "14020031091" };
            $.post("/api/Friends/YouNotFriend",
                postdata,
                function (data) {
                    alert(data.result);
                });
        })
    </script>
    <script type="text/javascript">
        $("#BtnGetFriend").click(function () {
            $.get("/api/Friends/MyFocus", function (data) {

            });
        });
    </script>

    <script type="text/javascript">
        $("#BtnGod").click(function () {
            $.get("/api/Access/IAmMaster", function (data) {

            });
        });
    </script>

    <script type="text/javascript">
        $("#BtnGive").click(function () {
            var Postdata = { "accessclass": -1, "stuid": "14020031094" };
            console.log(Postdata);
            $.post("/api/Access/GiveYou",Postdata, function (data) {

            });
        });
    </script>

    <script type="text/javascript">
        $("#BtnRe").click(function () {
            var Postdata = { "accessclass": -1, "stuid": "14020031094" };
            console.log(Postdata);
            $.post("/api/Access/ReturnToMe", Postdata, function (data) {

            });
        });
    </script>

    <script type="text/javascript">
        $("#BtnMyAc").click(function () {
            $.get("/api/Access/SeeMyAccess", function (data) {

            });
        });
    </script>
</body>
</html>
