*{
    margin: 0;
}
a{
    text-decoration:none;
    color: #333;
    font-family: "Microsoft YaHei UI";
}
a p{
    text-decoration: none;
    color: #000;
}
input,textarea{
    border: none;
    outline: none;
}
p,h1,h2,h3,h4,h5,a,li,button{
    font-family: "Microsoft YaHei UI";
}
.clr{
    clear: both;

}
button{
    cursor: pointer;
    outline: none;
    border: none;
}
*{
    padding: 0;
}
li{
    list-style-type:none;
}
input{
    titel:none;
}
input{
    border: none;
}
body{
    min-width: 300px;
    background-color: #f3f8fb;
    scrollbar:3px;
}
/*chrome更改滚动条样式*/
::-webkit-scrollbar { width: 3px; height: 3px;}
::-webkit-scrollbar-track-piece { background-color: #ffffff;}
::-webkit-scrollbar-thumb{height: 50px; background-color: #666; -webkit-border-radius: 3px;}

/*
 * header
 */
/*@media screen and (max-width: 768px){*/

    .header {
        min-width: 300px;
        background: #fff;
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #bebebe;
        position: fixed;
        top: 0px;
        z-index: 4;
    }

    .showMenu{
        width: 40px;
        height: 40px;
        margin: 5px 0 0 10px;
        float: left;
        background: url("../img/FreeTalk.png") top center no-repeat; background-size:cover;
        cursor: pointer;
        z-index: 100;
    }

    .header form {
        float: left;
        position: relative;
        width: 80%;
        right: -10px;
        height: 100%;
    }

    .input {
        margin: 8px 20px 0 4%;
        border: 1px solid red;
        height: 30px;
        width: 89%;
        padding-left: 5%;
        border-radius: 20px;
    }

    .input:focus {
        outline: none;
    }
    .header form > input + a{
        display: block;
    }
    .header form > input + a >img {
        width: 20px;
        position: absolute;
        top: 14px;
        right: 13px;
    }

    /*
     * main
     */
    .main {
        margin-top: 60px;
        height: 100%;
        margin-bottom: 85px;
    }

    .article {
        margin-top: 10px;
        width: 100%;
        background: #fff;
    }

    .title img {
        height: 60px;
        width: 60px;
        border-radius: 50px;
        margin: 10px;
        float: left;
    }

    .subtitle {
        float: left;
        width: 64%;
    }

    .subtitle h2 {
        margin: 17px 0 0 10px;
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #2b313f;
    }

    .label {
        margin: 10px 0 0 5px;
    }

    .label li {
        float: left;
        font-size: 10px;
        color: #999999;
        margin-right: 4%;
        overflow: hidden;
    }

    .label li p {
        color: #999999;
        display: inline;
    }

    .article_content p {
        text-indent: 2em;
        padding: 10px;
    }

    .img img {
        width: 100%;

    }
    .evaluate{
        float: right;
        margin:0 20px 10px 0;
    }
    .evaluate button{
        float: left;
    }
    .thumbs_up{
        margin: 4px 0 0 0;
        width: 12px;
        height:12px;
        background: url("../img/thumbs-up.png")  no-repeat; background-size:cover;
        cursor: pointer;
    }
    .thumbs_bg1{
        background: url("../img/thumbs-up.png")  no-repeat; background-size:cover;
    }
    .thumbs_bg2{
        background: url("../img/thumbs-up2.png")  no-repeat; background-size:cover;
    }
    .chat{
        width: 21px;
        margin: 0 0 0 10px;
        height:21px;
        cursor: pointer;
        background: url("../img/chat-bubble.png")  no-repeat; background-size:cover;
    }
    .chat_bg1{
        background: url("../img/chat-bubble.png")  no-repeat; background-size:cover;

    }
    .chat_bg2{
        background: url("../img/chat-bubble2.png")  no-repeat; background-size:cover;
    }
    .save{
        width: 12px;
        margin: 4px 0 0 10px;
        height:12px;
        cursor: pointer;
        background: url("../img/star.png")  no-repeat; background-size:cover;
    }
    .save_bg1{
        background: url("../img/star.png")  no-repeat; background-size:cover;

    }
    .save_bg2{
        background: url("../img/star.png")  no-repeat; background-size:cover;
    }
    .save+p{
        font-size: 10px;
        color: #999999;
        margin: 4px 10px 0 20px;
        float: left;;
    }
    .thumbs_up+p,.chat+p{
        font-size: 10px;
        color: #999999;
        margin: 4px 0 0 20px;
        float: left;;
    }
    /*
     * logo_onClick
     */
    .logo_onClick{
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top:0px;
        opacity:0.1;
        z-index: 1;
        background: #000;
    }
    .menu{
        display: none;
        position: fixed;
        top:49px;
        left: 5px;
        width: 100px;
        background:#fff;
        z-index: 5;
    }
    .menu li{
        line-height: 50px;
        text-align:center;
    }
    .menu li a{
        color: #2b313f;;
        opacity:1;
        display: block;
        height: 50px;
    }
    .menu li a:active {
        background: #ebebeb;
    }
    /*
     * footer
     */
    .footer {
        z-index: 2;
        min-width: 300px;
        border-top: 1px solid #bebebe;
        height: 75px;
        width: 100%;
        background: #fff;
        position: fixed;
        bottom: 0;
    }

    .footer>a {
        width: 20%;
        height: 50px;
        float: left;
    }

    .setimg {
        width: 35px;
        height: 75px;
        margin: 15px auto;
    }

    .setimg>img {
        width: 35px;
        height: 35px;
    }

    .setimg>img + p {
        font-size: 12px;
        margin-left: 6px;
    }
    /*
     * person
     */
    .person_head{
        background: url("../img/person_bg.jpg");
        background-size:100%;
    }
    .information{
        width: 150px;
        margin: 0 auto;
    }
    .person_head a{
        float: right;
        margin: 10px 20px 10px 0 ;
    }
    .information img{
        width: 70px;
        height: 70px;
        border-radius: 50px;
        margin-left: 40px;

    }
    .information h3{
        margin-top: 5px;
        text-align: center;
    }
    .information ul{
        margin-top: 10px;
        margin-left: 18px;
        float: left;
    }
    .information ul li{
        font-size:14px;
        color:#999;
        float: left;
    }
    .information p{
        color:#999;
        font-size: 14px;
        letter-spacing: .3em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 5px 0 10px 0;
    }
    /*
     * person func
     */
    .person_main{
        padding-bottom:85px ;
    }
    .func{
        cursor: pointer;
        position: relative;
        margin-top: 10px;
        width:100%;
        height: 50px;
        background: #fff;
    }
    .myset{
        margin-top: 85px;
    }
    {
        bottom: -85px;
    }
    .func>p{
        margin-left: 20px;
        line-height: 50px;
    }
    .right_func{
        top:0;
        right:20px;
        position: absolute ;
        margin-left: 64%;
    }
    .right_func img{
        float: left;

    }
    .isNew{
        width: 6px;
        margin: 22px 5px 0 0 ;
    }
    .jump_button{
        width: 10px;
        margin: 16px 0 0 5px;
    }
    .right_func p{
        float: left;
        line-height: 50px;
    }
    /*
     * notice_head
     */
    .notice_head{
        width:100%;
        background: #fff;
        height:40px;
    }
    .notice_head a{
        float: right;
        line-height: 40px;
        margin-right: 20px;
    }
    .chat_box{
        position: relative;
        margin-top: 10px;
        background: #ffffff;
        height:80px;
    }
    .newMassage{
        position: absolute;
        width: 6px;
        top:10px;
        left: 20px;
    }
    .move_box{
        width: 95%;
        position: absolute;
    }
    .delete_box{
        cursor: pointer;
    }
    .checkbox{
        background: #ffffff;
        position:absolute;
        height: 80px;
        left: -20px;
        z-index: 10;
        border: 1px solid #ccc;
        cursor: pointer;
    }
    .chat_box .title img{
        margin-left: 20px;
    }
    .chat_box .subtitle h2{
        width: 60%;
        font-size: 18px;
    }
    .chat_box .subtitle h5{
        position: absolute;
        top:20px;
        right: 20px;
        font-size:12px;
        color: #999;

    }
    .chat_box .subtitle p{
        margin: 5px 0 0 10px;
        overflow: hidden;
        font-size:14px;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #999;
    }
    .none {
        display: none;
        width: 100%;
        position: fixed;
        bottom:86px;
    }
    .none button{
        float: left;
        background: #ffffff;
        height: 40px;
        font-size: 16px;
        border-radius: 20px;
        width: 35%;
        margin-left: 10%;
    }

    .none .del{
        color: #ffffff;
        background: #d55548;
    }
    /*
     * post_footer
     */
    .post_footer{
        width: 100%;
        position: fixed;
        bottom: 0;
    }
    .post_footer ul{
        width:205px ;
        position: absolute;
        bottom: 82px;
        left:50%;
        margin-left:-102px;
    }
    .post_footer ul li {
        float: left;
        margin-left: 25px;
    }
    .post_footer ul li img,.post_footer ul li input{
        width:35px;
        height:35px;
    }
    .icon_input {
        filter:alpha(opacity:0);opacity: 0;
    }
    .post{
        width:90%;
        height:60px;
        margin: 10px 5% ;
        border-radius: 30px;
        background: #d55548;
        color: #ffffff;
        font-size: 20px;
    }
    .input_main textarea{
        width:90%;
        font-size: 16px;
        height: 500px ;
        resize: none;
        padding-bottom: 110px;
        margin: 10px 5%;
    }
    .input_main{
        height:100%;

    }
    /*
     * content
     */
    .content_head{
        width: 100%;
        height:40px;
        background: #ffffff;
    }
    .content_head a{
        float: left;
        margin: 12px 0 0 10px ;
    }
    .content_head a img{
        width: 10px;
    }

    .content_head h1{
        width: 80%;
        float: left;
        line-height: 40px;
        margin-left: 30px ;
        font-size: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #2b313f;
    }
    .content_title{
        margin: 10px 0;
        background: #ffffff;
    }
    .content_main{
        padding-bottom: 50px;
        background: #ffffff;
        width:100%;

    }
    .read{
        margin: 0 10px;
    }
    .read h2{
        padding: 10px 0;
        font-size:18px;
        line-height: 1.5em;
    }
    .read p{
        text-indent:2em;
        line-height: 1.5em;
        word-spacing: .2em;

    }
    .read p img {
        width: 100%;
    }
    .content_main .evaluate{
        margin-top: 20px;
    }
/*}*/
